<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error-EasyFlowchart</title>
</head>
<body>
<a href="javascript:history.back()">Go Back</a>
<p>error message:</p>
<p th:text="${message}"></p>
</body>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</html>