<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"></html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowchart drawing tool</title>
</head>
<body>
    <div th:utext="*{convertedCode}" class="mermaid" th:object="${flowchart}"></div>
    <form action="#" th:action="@{/flowchart/(*{type}, *{originalCode})}" th:object="${flowchart}">
        <label for="syntax">Select syntax</label>
        <select id="syntax" th:field="*{type}">
            <option th:value="'mermaid'">mermaid</option>
            <option th:value="'C'">C-based</option>
        </select>

        <textarea cols="30" rows="10" th:field="*{originalCode}"></textarea>

        <input type="submit">
    </form>
</body>

<script>
    var config = {
        startOnLoad:true,

        flowchart:{
            curve:'basis',
            nodeSpacing:55,
            rankSpacing:20,
            height:20
        },

        securityLevel:'loose',
    };
    mermaid.initialize(config);
</script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</html>