<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"></html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowchart drawing tool</title>
</head>
<body>
    <p>type: <span th:text = "${type}">type</span></p>
    <p>code: <span th:text = "${convertedCode}">code</span></p>
    <textarea th:text = "${convertedCode}" cols="30" rows="10"></textarea>
    <div th:utext="${convertedCode}" class="mermaid">
        graph TD;
        A --> B;
    </div>
</body>

<script>mermaid.initialize({startOnLoad:true});</script>
</html>